<ion-header>
  <ion-toolbar>
    <ion-title>Academia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapId" style="width: 100%; height: 100%"></div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Address</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome contentThe Academia apartment MY Selangor Seri Kembangan Taman
      Serdang Perdana, Persiaran Serdang Perdana, seksyen 143300
    </ion-card-content>
  </ion-card>
</ion-content>
