<ion-header>
  <ion-toolbar>
    <ion-title>Locations map</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapId" style="height: 100%; width: 100%;"></div>
  <ion-card *ngIf="displayCard">
    <ion-card-header>
      <ion-card-title>{{ locationName }} address</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ locationAddress }}
    </ion-card-content>
  </ion-card>
</ion-content>
