<ion-header>
  <ion-toolbar>
    <ion-title>
      Locations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <a href="/academia">
      <ion-card-title>
        ACADEMIA @ SCP
      </ion-card-title>

      <ion-card-content>
        <ion-img src="assets/images/academia.jpg"></ion-img
      ></ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="business" item-start></ion-icon>
          <ion-label>Type</ion-label>
          <ion-badge item-end>Hostel</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="bus" item-start></ion-icon>
          <ion-label>Upcoming Bus</ion-label>
          <ion-badge item-end>18:00</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="call" item-start></ion-icon>
          <ion-label>Contact Number</ion-label>
          <ion-badge item-end>010-4348575</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label text-right style="color: #3a99d9;">Read more</ion-label>
        </ion-item>
      </ion-list>
    </a>
  </ion-card>

  <ion-card>
    <a href="/academia">
      <ion-card-title>
        APIIT @ TPM
      </ion-card-title>

      <ion-card-content>
        <ion-img src="assets/images/apiit.jpg"></ion-img
      ></ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="business" item-start></ion-icon>
          <ion-label>Type</ion-label>
          <ion-badge item-end>Campus</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="bus" item-start></ion-icon>
          <ion-label>Upcoming Bus</ion-label>
          <ion-badge item-end>18:00</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="call" item-start></ion-icon>
          <ion-label>Contact Number</ion-label>
          <ion-badge item-end>010-4348575</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label text-right style="color: #3a99d9;">Read more</ion-label>
        </ion-item>
      </ion-list>
    </a>
  </ion-card>
  <ion-card>
    <a href="/academia">
      <ion-card-title> APU </ion-card-title>

      <ion-card-content>
        <ion-img src="assets/images/apu.jpg"></ion-img
      ></ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="business" item-start></ion-icon>
          <ion-label>Type</ion-label>
          <ion-badge item-end>Campus</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="bus" item-start></ion-icon>
          <ion-label>Upcoming Bus</ion-label>
          <ion-badge item-end>18:00</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="call" item-start></ion-icon>
          <ion-label>Contact Number</ion-label>
          <ion-badge item-end>010-4348575</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label text-right style="color: #3a99d9;">Read more</ion-label>
        </ion-item>
      </ion-list>
    </a>
  </ion-card>
  <ion-card>
    <a href="/academia">
      <ion-card-title>
        ENDAH PROMENADE
      </ion-card-title>

      <ion-card-content>
        <ion-img src="assets/images/endah.jpg"></ion-img
      ></ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="business" item-start></ion-icon>
          <ion-label>Type</ion-label>
          <ion-badge item-end>Hostel</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="bus" item-start></ion-icon>
          <ion-label>Upcoming Bus</ion-label>
          <ion-badge item-end>18:00</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="call" item-start></ion-icon>
          <ion-label>Contact Number</ion-label>
          <ion-badge item-end>010-4348575</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label text-right style="color: #3a99d9;">Read more</ion-label>
        </ion-item>
      </ion-list>
    </a>
  </ion-card>
  <ion-card>
    <a href="/academia">
      <ion-card-title>
        FORTUNE PARK
      </ion-card-title>

      <ion-card-content>
        <ion-img src="assets/images/fortune.jpg"></ion-img
      ></ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="business" item-start></ion-icon>
          <ion-label>Type</ion-label>
          <ion-badge item-end>Hostel</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="bus" item-start></ion-icon>
          <ion-label>Upcoming Bus</ion-label>
          <ion-badge item-end>18:00</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="call" item-start></ion-icon>
          <ion-label>Contact Number</ion-label>
          <ion-badge item-end>010-4348575</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label text-right style="color: #3a99d9;">Read more</ion-label>
        </ion-item>
      </ion-list>
    </a>
  </ion-card>
  <ion-card>
    <a href="/academia">
      <ion-card-title>
        VISTA KOMANVEL
      </ion-card-title>

      <ion-card-content>
        <ion-img src="assets/images/vista.JPG"></ion-img
      ></ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="business" item-start></ion-icon>
          <ion-label>Type</ion-label>
          <ion-badge item-end>Hostel</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="bus" item-start></ion-icon>
          <ion-label>Upcoming Bus</ion-label>
          <ion-badge item-end>18:00</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="call" item-start></ion-icon>
          <ion-label>Contact Number</ion-label>
          <ion-badge item-end>010-4348575</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label text-right style="color: #3a99d9;">Read more</ion-label>
        </ion-item>
      </ion-list>
    </a>
  </ion-card>
</ion-content>
