ion-toolbar {
  --background: #f5f5f5;
  --color: #3a99d9;
}

ion-title {
  font-weight: 900;
}

ion-card {
  margin-top: 20px;
}

//TODO  insert color variable
ion-card-title {
  height: 60px;
  color: #ffffff;
  font-weight: 700;
  padding: 20px;
}

ion-label {
  padding-left: 10px;
}

// Generated stuff
ion-badge {
  --background: #3a99d9;
  --color: #ffffff;
  --padding-bottom: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 4px;
  font-weight: 700;
}

@media (min-width: 400px) {
  ion-card {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 700px) {
  ion-card {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1000px) {
  ion-card {
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}
